* {
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
}

.padding-0 {
    padding: 0 !important;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0!important;
    overflow: hidden;
}

button:focus {
    outline: none !important;
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .navbar-brand img {
    width: 125px;
    height: auto;
}

.header-scrolled .nav-link-number {
    display: none;
}

.navbar {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.navbar-nav {
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-left: 15px;
    width: 155px;
    height: auto;
}

.navbar-brand-menu {
    margin-right: 40px;
}

.menu-navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav:not(.menu-navbar-nav) .nav-item:last-of-type {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.nav-item .nav-link {
    text-align: right;
}

.nav-item .nav-link:hover .nav-link-number {
    color: #e83e8c !important;
}

.nav-item .nav-link:hover .nav-link-menu {
    color: #e83e8c !important;
}

.nav-link-number {
    font-family: Poppins;
    font-weight: 200!important;
    font-size: 12px;
    color: #CCCCCC;
    letter-spacing: 1.5px;
    line-height: 1;
}

.nav-link-menu {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    line-height: 1;
}

.learn-more-btn {
    background-color: #e83e8c;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
    padding: 12px 40px !important;
    border-radius: 100px;
}

.learn-more-btn:hover {
    color: #fff;
    background-color: #28a745;
}

.btn-invert {
    background-color: #28a745!important;
}

.btn-invert:hover {
    background-color: #e83e8c!important;
}

@media screen and (max-width: 991.98px) {
    .navbar {
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
        box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    }
    .navbar-brand img {
        width: 100px!important;
        padding: 10px 0;
    }
    .header-scrolled {
        height: inherit;
    }
}

@media screen and (max-width: 575.98px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .menu-navbar-nav {
        padding-bottom: 10px;
    }
}

.header {
    display: flex;
    width: 100%;
    padding: 175px 0 25px 0;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-img-section img {
    width: 100%;
}

.header-subtitle {
    font-family: Poppins;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 10px;
}

.header-title {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 60px;
    line-height: 1;
    padding-bottom: 25px;
    color: #007bff;
}

.header-title-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 15px;
}

.learn-more-btn-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 991.98px) {
    .header-container {
        flex-direction: column;
    }
    .header-title-section {
        text-align: center;
        margin-top: 40px;
    }
    .navbar-collapse {
        background-color: rgba(255, 255, 255, 1);
        color: #505050;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .navbar-collapse .nav-link-menu {
        color: #505050;
    }
    .nav-link-number {
        color: #fff;
        display: none;
    }
    .nav-link-menu {
        color: #fff;
    }
    .learn-more-btn-section {
        justify-content: center;
    }
}

@media screen and (max-width: 799.98px) {
    .header {
        height: auto;
        padding-top: 20%;
    }
}

@media screen and (max-width: 499.98px) {
    .header {
        padding-top: 30%;
    }
    .header-subtitle {
        font-size: 24px;
    }
    .header-title {
        font-size: 46px;
    }
    .header-title-text {
        font-size: 18px;
    }
}

.strategy-section {
    position: relative;
}

.strategy-section-bg-graphics-section {
    position: absolute;
    width: 22%;
    right: -5%;
    top: -45%;
}

.strategy-section-bg-graphics-section img {
    width: 100%;
}

.strategy-container {
    position: relative;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.strategy-card-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.strategy-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.strategy-card img {
    height: 80px;
}

.strategy-card h2 {
    color: #303669;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 3;
}

.strategy-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    font-family: Poppins;
    font-weight: 300;
    max-width: 300px;
}

@media screen and (max-width: 576.98px) {
    .strategy-container {
        flex-direction: column;
    }
}

.circle-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    margin: 0 auto;
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.brand:hover {
    transform: scale(2, 2);
}